<head>
  <title>Admin Layout</title>	  <title>Admin Layout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'main' %>
  <%= csrf_meta_tags %>	  <%= csrf_meta_tags %>
</head>	</head>
<body>	<body>
