<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  
  <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin' %>
  <%= javascript_include_tag 'main' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
