<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
  <%= stylesheet_link_tag    'application', media: "all", "data-turbolinks-track" => "reload" %>
  <%= javascript_include_tag 'admin', "data-turbolinks-track" => "reload" %>
  <%= javascript_include_tag 'main' , "data-turbolinks-track" => "reload" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
